<!-- Team member  -->
<div class="team-members row-fluid">
{% for member in module.members %}
  {% set photo=member.member_photo.src or get_asset_url("../images/member.png") %}
  <div class="team-member span3 tablet-span6 mobile-span12">
    <img class="team-image" alt="{{ member.member_photo.alt or member.member_name}}" 
      src="{{ photo }}"
      srcset="{{ resize_image_url(photo, 400) }} 400w,
            {{ resize_image_url(photo, 600) }} 600w,
            {{ resize_image_url(photo, 800) }} 800w,
            {{ resize_image_url(photo, 1000) }} 1000w"
      sizes="(min-width: 1024px) 25vw, 
            (min-width: 768px) 50vw, 
            100vw">
    <h2>{{ member.member_name|sanitize_html }}</h2>
    {% if member.member_position %}
      <p class="member-position">{{ member.member_position|sanitize_html }}</p>
    {% endif %}
  </div>
{% endfor %}
</div>

{% require_css %}
<link rel="stylesheet" href="{{ get_asset_url('./module.css') }}">
{% end_require_css %}